COMPOSE_PROJECT_NAME=mis-student-portal

FRONTEND_PORT=3000
GATEWAY_PORT=4000
KEYCLOAK_PORT=8080
STUDENT_DB_PORT=5432
INTERNAL_DB_PORT=1433
KEYCLOAK_DB_PORT=1434

STUDENT_DB_NAME=student_db
STUDENT_DB_USER=mis_student
STUDENT_DB_PASSWORD=CHANGE_ME

INTERNAL_DB_NAME=internal_db
INTERNAL_DB_SA_PASSWORD=CHANGE_ME

KEYCLOAK_DB_NAME=keycloak_db
KEYCLOAK_DB_SA_PASSWORD=CHANGE_ME

KEYCLOAK_BOOTSTRAP_ADMIN_USERNAME=admin
KEYCLOAK_BOOTSTRAP_ADMIN_PASSWORD=CHANGE_ME

KEYCLOAK_CLIENT_ID=mis-student-portal-frontend
KEYCLOAK_CLIENT_SECRET=CHANGE_ME
NEXTAUTH_SECRET=CHANGE_ME
GATEWAY_SHARED_SECRET=CHANGE_ME

REDIS_PORT=6379
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_DEFAULT_USER=mis_gateway
RABBITMQ_DEFAULT_PASS=CHANGE_ME
