NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=CHANGE_ME
KEYCLOAK_CLIENT_ID=mis-student-portal-frontend
KEYCLOAK_CLIENT_SECRET=CHANGE_ME
KEYCLOAK_ISSUER=http://auth.localhost:4000/realms/mis-student-portal
NEXT_PUBLIC_API_BASE_URL=http://api.localhost:4000
